<!DOCTYPE html>
<html>
<body>

<p>Hi {{ user.username }},</p>

<p>You requested to reset your E-Hospital account password.</p>

<p>
    Click the link below to reset your password:
</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
        Reset Your Password
    </a>
</p>

<p>If the above link doesn't work, copy and paste this URL into your browser:</p>

<p>
    {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
</p>

<br>

<p>Thanks,</p>
<p><strong>E-Hospital Support Team</strong></p>

</body>
</html>
